*{margin: 0;
  padding:0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a{text-decoration: none;
  color:#333;
}
ul,li{list-style: none;}

.container{width:90%;
		   margin: 0 auto;
		   padding-top: 25px;
		   font-size: 18px;
		   /* font-family: '微软雅黑','Helvetica Neue',Helvetica,Arial,sans-serif; */
		   font-family: 'PT serif',\5FAE\8EDF\6B63\9ED1\9AD4,\5FAE\8F6F\96C5\9ED1,\534E\6587\7EC6\9ED1,Microsoft Yahei,Hiragino Sans GB,sans-serif;
		   color:#242424;
}
header{text-align: center;}
.touxiang{width: 150px;
		  height: 150px;
		  -webkit-border-radius: 50%;
		  -moz-border-radius: 50%;
		  border-radius: 50%;
		  background:url('../pic/touxiang.jpg') center center no-repeat;
		  background-size: cover;
		  margin: 0 auto;
}
.touxiang + p{margin-top: 15px;
			  margin-bottom: 15px;
			  font-weight:550;
}
header ul{margin: 0 auto;
}
header li{min-width:80px;
		  display: inline-block;
		  background-color: #fff;
		  padding-bottom: 2px;
}
header li:hover{border-bottom:1px dotted #ccc;
				padding-bottom: 0;
}
.current{border-bottom: 1px dotted #ccc;
		padding-bottom: 0;
}

.content{margin:20px 0;}
.content > article{width: 90%;
				   margin:50px auto 100px;
				   border-bottom:1px dotted #ccc;
}
.content > article > h2{text-align: center;
						margin: 0 auto;
						width:90%;
}
.content > article > div{font-size: 20px;
						 padding: 20px 10%;
						 overflow: hidden;
}
.picture{text-align: center;
		 padding:10px 0;
}
.picture img{-webkit-border-radius:20px;
			-moz-border-radius:20px;
			border-radius:20px;
			max-width:100%;
}
.showmore{margin-top: 7px;
		 text-align: center;
}
.showmore > span{cursor: pointer;}
.showmore > span:hover{border-bottom: 1px dotted #ccc;}



footer{text-align: center;
		margin-top: -40px;
		padding-bottom: 10px;
}
.jiyou li{font-size: 16px;
	   padding: 0 10px;
	   display: inline-block;
}
.jiyou a:hover{border-bottom: 1px dotted #ccc;}
footer > p{font-size: 12px;
		   padding: 5px 0;
}



